DB_URL=jdbc:postgresql://localhost:5432/energyrequestsdb
DB_USER=postgres
DB_PASSWORD=change_me
FLYWAY_URL=jdbc:postgresql://localhost:5432/energyrequestsdb
FLYWAY_USER=postgres
FLYWAY_PASSWORD=change_me
